body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
    /* Typography */
    --family:'Nunito Sans', sans-serif;
    --fs-sm:14px;
    --fs-md:16px;
    --fw-light:300;
    --fw-normal:600;
    --fw-bold:800;

    /* Other */
    --raddi:0.5rem
}
body{
    --colors-text:hsl(0,0%,100%);
    --colors-bg:hsl(207,26%,17%);
    --colors-ui-base:hsl(209,23%,22%);

    --shadow:rgba(245, 245, 245, 0.2) 0 0 8px
}
body{
    --colors-text:hsl(200,15%,8%);
    --colors-bg:hsl(0,0%,98%);
    --colors-ui-base:hsl(0,0%,100%);

    --shadow:rgba(149, 157, 165, 0.2) 0 8px 24px
}
body{
    margin: 0;
    font-family: var(--family);
    color: var(--colors-text);
    font-weight: var(--fw-light);
    background-color: var(--colors-bg);
}
